@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Showinfo</title>
    <style>

        body {
            padding: 0px;
            margin: 0px;
            background-image: url(/img/03.jpg);
            /*background-repeat: no-repeat;*/
            background-size: 100% 100%;
        }
        #main {
            /*background-image: url(/img/513781.jpg);*/
            /*background-size: cover;*/
        }

        .sls {
            -webkit-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
            opacity: .5;
            filter: alpha(opacity=50);
            width: 45px;
            height: 100px;
            position: absolute;
            left: 0px;
            top: 50%;
            margin-top: -50px;
            z-index: 30000;
            background: url(/img/sprite.png) no-repeat left top;
        }

        .cls {
            width: 45px;
            height: 100px;
            position: absolute;
            left: 0px;
            top: 100%;
            margin-top: -50px;
            z-index: 30000;
        } 
        .srs {
            -webkit-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
            opacity: .5;
            filter: alpha(opacity=50);
            width: 45px;
            height: 100px;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            z-index: 30000;
            background: url(/img/sprite.png) no-repeat left top;
            /*left: auto;*/
            right: 0px;
            background-position: right top;
        }
        #p1 {
            font-family:微软雅黑;
            text-align: center;
            font-weight: bold;
            font-size: 2.2em;
            color: yellow;
            padding-bottom: 0px;
            margin-bottom: 0px;
             padding:0px;
             margin-top:20px;
            /*position: absolute;
            left:50%;
            top:0px;
            margin-top: -50px;
            z-index: 30000;*/
        }
        #p2 {
            font-family:微软雅黑;
            text-align: center;
            font-weight: bold;
            font-size: 1.8em;
            color: yellow;
            margin-top:0px;
             margin-bottom:0px;
             padding:0px;
        }
    </style>
</head>
<body>
    <script src="~/js/jquery.min.js"></script>
    <script>
        var ib = null;
        var vsid = 1;
        var timeout = false; //启动及关闭按钮  
        function Start() {
            if (timeout) return;
            $(".srs").click();
            setTimeout(Start, 3000); //time是指本身,延时递归调用自己,100为间隔调用时间,单位毫秒  
        }
        $(function () {
            var h = $(window).height();
            $("#mainy").height(h -120);
            DoWork(0);
            //Start();
        });
        function ReStart() {
            timeout = false;
            Start();
        }
        function DoWork(index) {
            index = index || 0;
            var id = index + vsid;
            if (id == 4) {
                id = 1;
            }
            if(id==0){
                id = 3;
            }
            $.post("/home/GetVsInfo", "vsid=" + id, function (data) {
                vsid = id;
                Create(data.arrcount, data.arruser, data.info, data.count);
            });
        }
        function End() {
            timeout = true;
        }
        
    </script>
    <a href="javascript:void(0)" onclick="DoWork(-1)" value="0" class="sls"></a>
    <a href="javascript:void(0)" onclick="DoWork(1)" class="srs" value="1"></a>
        <p id="p1"></p>
        <p id="p2"></p>
        <div id="mainy" style="z-index: 0; border: 0px solid #808080;">
           
        </div>
    @*<span class="cls">
        <a href="javascript:void(0)" title="启动" onclick="ReStart()"><</a>&nbsp;&nbsp;
        <a href="javascript:void(0)"  title="暂停" onclick="End()">></a>
    </span>*@
    <!-- ECharts单文件引入 -->
    <script src="~/js/echarts.js"></script>
    <script type="text/javascript">
        function Create(arrcount, arruser, info, count) {
            $("#p1").text(info.Title + ":" + info.TitleDesc.replace('<br>', ''));
            $("#p2").text('本轮共计:' + count + '人参与投票');
            
            // 基于准备好的dom，初始化echarts图表
            var myChart = echarts.init(document.getElementById('mainy'));
            option = {
                title: {
                    padding: 0,
                    text:info.Title +":"+ info.TitleDesc.replace('<br>', ''),
                    subtext: '本轮共计:' + count + '人参与投票',
                    x: 'center',
                    textStyle: {
                        color: "#FFE44D",
                        fontSize: 2,
                    },
                    subtextStyle: {
                        color: "#FFE44D",
                        fontSize: 2,
                    },
                    show: false
                },

                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                       show: false,
                       data: ['票数(单位：票)'],
                       x: 'left',
                       textStyle: {
                           color: "#FFE44D ",
                           fontSize: 2
                       }
                   },
                toolbox: {
                    show: false,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                xAxis: [
                    {
                        type: 'category',
                        data: arruser,
                        splitLine: false,
                        axisLine: {
                            show: true,
                            onZero: true,
                            lineStyle: {
                                color: '#FFFFFF',
                                type: 'solid',
                                width: 3,
                                shadowColor: 'rgba(0,0,0,0)',
                                shadowBlur: 5,
                                shadowOffsetX: 3,
                                shadowOffsetY: 3,
                            },
                        },
                        axisLabel: {
                            show: true,
                            interval: 'auto',
                            rotate: 0,
                            margin: 8,
                            clickable: false,
                            formatter: null,
                            textStyle: {
                                color: "#FFE44D",
                                //align: <各异>,
                                //baseline: <各异>,
                                fontSize: 20,
                                fontFamily: '微软雅黑',
                                fontWeight: 'bold'
                            },
                        },
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        splitLine: false,
                        axisLine: {
                            show: true,
                            onZero: true,
                            lineStyle: {
                                color: '#FFFFFF',
                                type: 'solid',
                                width: 3,
                                shadowColor: 'rgba(0,0,0,0)',
                                shadowBlur: 5,
                                shadowOffsetX: 3,
                                shadowOffsetY: 3,
                            },
                        },
                        axisLabel: {
                            show: true,
                            interval: 'auto',
                            rotate: 0,
                            margin: 8,
                            clickable: false,
                            formatter: null,
                            textStyle: {
                                color: "#FFE44D",
                                //align: <各异>,
                                //baseline: <各异>,
                                fontSize: 18,
                                fontFamily: '微软雅黑'
                            },
                        },
                    }
                ],
                series: [
                    {
                        name: '总票数',
                        type: 'bar',
                        data: arrcount,
                        barWidth: 80,//柱图宽度
                        itemStyle: {
                            normal: {
                                color: 'rgba(255,0,0,0.8)',
                                barBorderRadius: 0,
                                label: {
                                    show: true,
                                    position: 'top',
                                    textStyle: {
                                        fontSize:35 ,
                                        fontWeight: 'bold',
                                        color: 'rgba(255,0,0,0.8)'
                                    }
                                }
                            }
                        }
                    }
                ]
            };
            // 为echarts对象加载数据
            myChart.setOption(option);
        }
    </script>
</body>
</html>
